* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    display: block;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    color: #87888a;
  }
  .container {
    /* max-width: 1060px; */
    margin-inline: auto;
    padding-inline: 30px;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  /*top nav ka lia*/
  .top {
    width: 100%;
    height: 30px;
  }
  .top-nav {
    justify-content: space-between;
  }
  .top-left {
    flex-basis: 300px;
    font-size: 12px;
    font-weight: 700;
  }
  .top-left ul {
    gap: 25px;
  }
  .top-left ul li {
    height: 30px;
    width: 70px;
    text-align: center;
    padding-top: 10px;
    border-top: 2px solid white;
  }
  .top-left ul li:hover {
    border-top: 2px solid #1b53da;
    transition: 0.2s ease-out;
    cursor: pointer;
  }
  .special,
  .top-left ul li:hover a {
    color: #1b53da;
    transition: 0.2s ease-out;
  }
  .top-right {
    font-size: 15px;
    color: #1b53da;
    border-top: 3px solid white;
  }
  .explore {
    gap: 3px;
    padding: 5px;
  }
  .top-right:hover {
    border-top: 3px solid #1b53da;
    transition: 0.2s ease-out;
    cursor: pointer;
    background-color: #f4f5ff;
  }
  #line-main {
    margin-bottom: 0px;
  }
  
  /* main nav */
  
  navbar {
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: relative;
    height: 70px;
  }
  
  .logoimg {
    width: 135px;
    height: 40px;
  }
  
  navbar ul {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  navbar ul li {
    list-style-type: none;
  }
  
  navbar ul li a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    /* padding:15px 10px; */
  }
  navbar ul li a:hover {
    background-color: white;
    border-bottom: 2px solid #1b53da;
    color: #1b53da;
    transition: 0.2s ease-out;
    cursor: pointer;
  
  }
  .navbar ul li a:hover:nth-child(5) {
    color: #87888a;
  }
  
  .menu-icon {
    display: none;
  }
  
  .menu-icon i {
    color: grey;
    font-size: 20px;
  }
  /* main-content */
  .main-content-recharge {
    display: flex;
    flex-direction: row;
   }
  .main-content-left {
    width: 50%;
   }
  .content-left {
    width: 400px;
    height: 280px;
    background-color: whitesmoke;
    border-radius: 10%;
    margin-left: 116px;
    margin-top: 100px;
  }
  
  .content-left button {
    width: 50%;
  
    background-color: #1b53da;
  
    text-align: center;
    border: none;
    border-radius: 10px;
    height: 35px;
    margin-top: 10%;
    margin-left: 24%;
  }
  
  .content-left button a {
    font-size: 17px;
    color: white;
  }
  .content-left button:hover {
    background-color: #2a427b;
    color: aquamarine;
  }
  .content-left span h3 {
    font-weight: 800;
  
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
  }
  #left-p {
    font-size: 10px;
    text-align: center;
  }
  
  .content-left span input {
    border: none;
    border-bottom: 2px solid grey;
    background-color: whitesmoke;
    width: 75%;
    height: 40px;
    margin-left: 12%;
    margin-top: 7%;
    padding-left: 10px;
  }
  
  
  .main-content-right {
    width: 50%;
  
    /* background-color: #3d6fd4; */
  }
  
  .main-content-right img {
    width: 560px;
    height: 400px;
  
   margin-top: 7%;
   margin-right:7% ;
  }
  
  
  @media (max-width: 1024px) {
    .main-content-right img {
      width: 476px;
      height: 371px;
      margin-top: 11%;
      margin-right: 7%;
  }
  .content-left {
    width: 343px;
    height: 257px;
    background-color: whitesmoke;
    border-radius: 10%;
    margin-left: 116px;
    margin-top: 100px;
  }
  
  }
  
  
  
  @media (max-width:768px) {
    navbar ul {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      flex-direction: column;
      text-align: center;
      background: white;
      gap: 0;
      overflow: hidden;
    }
    navbar ul li a:hover {
      background-color: whitesmoke;
      border-bottom: 2px solid #1b53da;
      color: #1b53da;
      transition: 0.2s ease-out;
      cursor: pointer;
    }
  
    #line-main {
      display: none;
    }
    navbar ul li {
      padding: 20px;
      padding-top: 0;
    }
  
    .top {
      display: none;
    }
    .menu-icon {
      display: block;
    }
    .main-content-right img {
      width: 356px;
      height: 314px;
      margin-top: 20%;
      margin-right:5%;
  }
  .content-left {
    width: 287px;
    height: 252px;
    background-color: whitesmoke;
    border-radius: 10%;
    margin-left: 57px;
    margin-top: 90px;
  }
  }
  
  @media (max-width:500px) {
    .main-content-right img {
     display: none;
    
  }
  .main-content-right{
    width: 0%;
  }
  .main-content-left{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .content-left{
    margin-left: 0px;
    margin-top: 0px ;
  }
  
    
  }
  #mobileNo{
    outline:0;
  }
  #mobileNo:valid{
    border-color: green;
  }
  #mobileNo:focus:invalid{
    border-color: red;
  }
  
  