
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins',sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
    color:#87888a;
}
.container{
    max-width: 1060px;
    margin-inline:auto;
    padding-inline:30px;
}
.flex{
    display:flex;
    align-items: center;
}
/*top nav ka lia*/
.top{
    width: 100%;
    height:30px;
}
.top-nav{
    justify-content:space-between;
}
.top-left{
    flex-basis:300px;   
    font-size:9px;
    font-weight:700;
}
.top-left ul{
    gap:25px;
}
.top-left ul li{
    height:30px;
    width:70px;
    text-align:center;
    padding-top:10px;
    border-top:2px solid white;
}
.top-left ul li:hover{
    border-top:2px solid #E90000;
    transition: 0.2s ease-out;
    cursor: pointer;
}
.special,.top-left ul li:hover a{
    color:#E90000;
    transition: 0.2s ease-out;
}
.top-right{
    font-size:11px;
    color:#E90000;
    border-top:3px solid white;
}
.explore{
   gap:3px;
   padding:5px;
}
.top-right:hover{
    border-top:3px solid #E90000;
    transition: 0.2s ease-out;
    cursor: pointer;
    background-color:#f4f5ff;
}
/*main nav bar*/
.main{
    width: 100%;
    height:55px;
}
.main-nav{
    justify-content:space-between;
}
.main-right{
    flex-basis:300px;   
    font-size:9px;
    font-weight:700;
}
.main-right ul li{
    height:55px;
    width:80px;
    text-align:center;
    padding-top:20px;
    border-top:2px solid white;
    color:#87888a;
}
.main-right ul li:hover{
    border-top:2px solid #E90000;
    color:#E90000;
    transition: 0.2s ease-out;
    cursor: pointer;
    background-color:#f4f5ff;
}
.main-right ul:hover,.account{
    color:#87888a;
}
.account{
    gap:3px;
    padding-left:10px;
}
.sub-menu{
    display: none;
}
.main-right:hover .sub-menu{
    display: block;
    position: absolute;
    margin-top:15px;
    margin-right:55px;
    width:200px;
    padding:10px;
}
.main-right ul li:hover .sub-menu{
    width:200px;
    padding:10px;
    height:30px;
}
