
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins',sans-serif;
    display:block;
}
a{
    text-decoration: none;
    display: inline-block;
    color:#87888a;
}
.container{
    max-width: 1060px;
    margin-inline:auto;
    padding-inline:30px;
}
.flex{
    display:flex;
    align-items: center;
}
/*top nav ka lia*/
.top{
    width: 100%;
    height:30px;
}
.top-nav{
    justify-content:space-between;
}
.top-left{
    flex-basis:300px;   
    font-size:12px;
    font-weight:700;
}
.top-left ul{
    gap:25px;
}
.top-left ul li{
    height:30px;
    width:70px;
    text-align:center;
    padding-top:10px;
    border-top:2px solid white;
}
.top-left ul li:hover{
    border-top:2px solid #1b53da;
    transition: 0.2s ease-out;
    cursor: pointer;
}
.special,.top-left ul li:hover a{
    color:#1b53da;
    transition: 0.2s ease-out;
}
.top-right{
    font-size:15px;
    color:#1b53da;
    border-top:3px solid white;
}
.explore{
   gap:3px;
   padding:5px;
}
.top-right:hover{
    border-top:3px solid #1b53da;
    transition: 0.2s ease-out;
    cursor: pointer;
    background-color:#f4f5ff;
}
/*main nav bar*/
.main{
    margin-top:-17px;
    width: 100%;
    height:55px;
}
.main-nav{
    justify-content:space-between;
}
.main-right{
    flex-basis:300px;   
    font-size:12px;
    font-weight:700;
    
}
.main-right ul li{
    height:55px;
    width:80px;
    text-align:center;
    padding-top:20px;
    border-top:2px solid white;
    color:#87888a;
}
.main-right ul li:hover{
    border-top:2px solid #1b53da;
    color:#1b53da;
    transition: 0.2s ease-out;
    cursor: pointer;
    background-color:#f4f5ff;
}
.main-right ul li:hover:nth-child(5) {
    color:#87888a;
}
.account{
    gap:3px;
    padding-left:10px;
}
.sub-menu{
    display: none;
}
.main-right ul li:hover:nth-child(5) .sub-menu{
    display:block;
    position:absolute;
    margin-top:17px;
    margin-right:55px;
    z-index:1;
    border:none;
}
/*--spacer--*/
.spacer{
    width:100%;
    height:60vh;
}
.content{
    color:white;
    background-color:black;
    height:60vh;
    width:100%;
}
.content h1{
    font-size:2rem;
    margin-top:60px;
    margin-left:135px;
}
.content h3{
    font-size:1rem;
    margin-left:135px;
    margin-top:20px;
}
/*-- RECHARGE --*/
.recharge{
    width:100%;
    height:50vh;
    display:flex;
    flex-direction:column;
    background-color: #f7f7fa;
}
.head{
    display:inline-block;
    font-size:2rem;
    word-spacing:4px;
    font-weight:700;
    margin-top:20px;
    margin-left:35%;
}
.options ul{
    justify-content:center;
    gap:15px;
    padding-top:40px;
    padding-bottom:10px;
}
.options ul li a{
     border:1px solid grey;
     border-radius:40px;
     background-color: #f4f5ff;
     color:black;
     transition:0.2s;
     padding:3px 5px;
}
.options ul li a img{
    width:25px;
}
.options ul li a:hover{
   box-shadow: 0px 0px 10px 2px grey;
}
.options h5{
    display:inline-block;
    font-size:18px;
    padding:1px 5px;
}
.recharge input{
    display:block;
    margin-left:35%;
    width:300px;
    height:45px;
    border-radius:4px;
}
button{
    display:block;
    margin-left:35%;
    margin-top: 20px;
    width:300px;
    height:40px;
    border-radius:4px;
    color:white;
    background-color: black;
    transition:0.1s;
}
button span{
    font-size:13px;
}
button:hover{
    background-color: #454545;
}
/*buy new connection*/
.connection{
    width:100%;
    height:60vh;
    display:flex;
    flex-direction:column;
}
.varities ul{
    justify-content:center;
    gap:80px;
    padding-top:40px;
    padding-bottom:10px;
}
.varities ul li a{
    border:1px solid white;
    border-radius:50%;
    background-color:#e3e5ff;
    transition:0.2s;
    padding:12px;
}
.varities ul li a img{
    width:35px;
}
.varities ul li h6{
    margin:5px auto;
}
.varities ul li a:hover{
    box-shadow: 0px 0px 10px 2px grey;
    border:1px solid grey;
 }
 .red-box{
    width:500px;
    height:80px;
    background-color: ;
    border-radius:4px;
    margin-left:250px;
 }
/* recommanded ka css*/
.card-img-top{
    height: 160px;
    width: 300px    ;
}
.headline{
    margin-top: -18%;
    margin-left: -180px;
    color: #1b53da;
}
.card-text-3{
    color: grey;
    margin-left: -81px;
    margin-top: -3%;
}
.card-title-3{
    margin-left: -26px;
    margin-top: -5%;
}
.buy3{
    background-color:black;
    border-radius: 5px 5px 5px 5px;
    color: white;
    margin-left: -83px;
    border: 0cm;
    width: 90px;
    height: 30px;
}
.buy3:hover{
    background-color: white;
    color: black;
    transition-duration: 3s;
    border: 0cm;
    width: 90px;
    height: 30px;
}
.reco:hover {
    color: #1b53da;
    transition-duration: 3s;
}
.card-img-top-2{
    border-radius: 5px 5px 0px 0px;

}
.card-title-2{
    margin-left: -26px;
    margin-top: -6%;
}
.card-text-2{
    color: grey;
    margin-left: -81px;
    margin-top: -3%;
}
.buy2{
    background-color:black;
    border-radius: 5px 5px 5px 5px;
    color: white;
    margin-left: -83px;
    border: 0cm;
    width: 90px;
    height: 30px;
    margin-top: -4%;
}
.buy2:hover{
    background-color: white;
    color: black;
    transition-duration: 3s;
    border: 0cm;
    width: 90px;
    height: 30px;
}
/*map ka css*/
.map-box{
    background-image:url("img/mapimg.jpg");
    height:80vh;
    background-size:cover;
    background-position:center;
}
.map-box h1{
    color: white;
    font: size 1.5rem;
    text-align: center;
    padding-top: 20px;
}
.map{
    background-color: aliceblue;
    border-radius:8px;
    width:400px;
    height:60vh;
    margin:45px auto;
}
/*footer ka css*/
.up-footer{
    width:100%;
    height:100vh;
}
.top-footer{
    height:88%;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top:20px;

}
.box{
    width:250px;
    font-size:12px;
    color:#242424;
}
.foot-links{
    margin-top: 10px;
}
.foot-links ul li a{
    margin-top: 10px;
    transition: 0.1s ease-in;
}
.foot-links ul li{
    padding-top:5px;
    margin-left:-31px;
}
.foot-links ul li a:hover{
    color: #1b53da;
}
.parent-of-link{
    font-size:12px;
    font-weight:700;
}
.bottom-footer{
    height:12%;
    justify-content:space-between;
    padding:0;
}
.c1,.c2,.c3,.c4{
    width:250px;
    height:25px;
}
.c1 img{
    cursor: pointer;
    margin-top: -15px;
}
.c2{
    font-size:12px;
    font-weight:200;
    gap:2px;
}
.c2 img{
    cursor: pointer;
}
.c3{
    font-size:12px;
    font-weight:200;
    gap:10px;
  
}
.c3 i{
    color:black;
    font-size:16px;
    cursor: pointer;
}
.c4{
    justify-content:end;
}
.go-back{
    border:1px solid black;
    border-radius:8px;
    font-size:12px;
    font-weight:700;
    height:30px;
    width:120px;
    justify-content:space-around;
}
.go-back:hover{
    border:2px solid black;
    cursor: pointer;
}

